
<%-include('partails/header')%>

<% posts.forEach(function(post){ %>
<div class="articlePost d-flex flex-column">
    <img src="/uploads/<%=post.image%>" alt="">
    <h1><%=post.title %></h1>
    <p><%=post.content %></p>
</div>
<%});%>


<%-include('partails/footer')%>