
<%-include('partails/header')%>


<div class="articlePost d-flex flex-column">
    <img src="/uploads/<%=postImage%>" alt="">
    <h1><%=postTitle %></h1>
    <p><%=postBody%></p>
    <p><%=postPublisher%></p>
</div>



<%-include('partails/footer')%>